@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #1f2937;
}

.dark {
    --background: #1f2937;
    --foreground: #ffffff;
}

body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    transition: background-color 0.3s, color 0.3s;
}

.container {
    @apply max-w-7xl;
}